  h1 {
            color: black;
           
            font-size: 72px;
            font-family: Finger Paint;
        }
        
        h2 {
            font-family: Swanky and Moo Moo;
            color: black;
        }
        
        body {
            background-color: #3b3b3b;
        }
        
        ul,
        p {
            color: black;
        }
        
        .smaller-image {
            width: 175px;
        }
        
        .wrap {
            max-width: 900px;
        }